.Wrapper {
	display: table;
	margin: 0 auto;
	width: 100%;
	color: #2A2B2DFF;
	padding-bottom: 15px;
}

.SearchAndPostBar {
	display: table-row;
}

.LeftCell {
	position:fixed;
	display: table-cell;
	width: 20%;
}

.MiddleCell {
	display:table-cell;
	width: 60%;
	padding-left: 90px;
	padding-right: 100px;
}

.RightCell {
	position:fixed;
	display:table-cell;
	width: 20%;
}

.SearchTasks {
	width: 50%;
	margin: 0 auto;
}

.TaskList {
	height: 70vh;
	width: 100%;
	overflow-y: overlay;
	overflow-x: hidden;
	padding-right: 30px;
}

.Tips {
	position: fixed;
	bottom: 30%;
}

input[type="text"] {
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 5px;
	border: none;
}

.rc-time-picker-input {
	border-radius: 0%;
	border: none;
	height: 25px;
	width: 179px;
}

.TaskList::-webkit-scrollbar {
	width: 10px;
}

.TaskList::-webkit-scrollbar-track {
	opacity: 0.5;
}

.TaskList::-webkit-scrollbar-thumb {
	background: #2A2B2DFF;
}

.TaskList::-webkit-scrollbar-thumb:hover {
	background: #1C1C1BFF;
}
