.PostTask {
	position:relative;
}

.posttask_content {
	position: absolute;
}

.posttask_toggle {
	position: absolute;
	font-size: 30px;
	background-color: #2A2B2DFF;
	border: 0;
	outline: 0;
	border-radius: 100%;
	width: 42px;
	height: 42px;
	z-index:10;
	margin: 0;
	padding: 0;
	color: #ffa3a9;
	overflow: hidden;
}

.posttask_toggle:hover {
	background-color: #1C1C1BFF;
	color: #f59197;
}

.posttask_items {
	display: none;
	position: absolute;
	text-align: left;
}

.posttask_items.in {
	padding-left: 60px;
	padding-bottom: 50px;
	display: block;
}