.Task {
	width: 100%;
	margin: auto;
	border: 1px solid black;
}

.task_contents {
	cursor: pointer;
	width: 100%;
	text-align: left;
	outline: none;
	padding: 0;
	font-size: 15px;
}


.task_toggle {
	border: 0;
	width:100%;
	height:100%;
	padding: 0;
	outline: 0;
	text-align:left;
	overflow:hidden;
	white-space:nowrap;
	background-color: #2A2B2DFF;
}

.task_toggle:hover {
	background-color: #1C1C1BFF;
}

.task_toggle:hover .chevron{
	color:#FF291CFF;
}

.task_toggle:hover .chevron.current {
	color:#35baf8;
}

.task_toggle:hover .chevron.done {
	color: #53C567FF;
}

.task_title {
	padding-left: 18px;
	width: 50%;
	display:inline-block;
	color: #DA291CFF;
}

.task_toggle:hover .task_title {
	color:#FF291CFF;
}

.task_title.current {
	color: #56A8CBFF;
}

.task_toggle:hover .task_title.current {
	color: #35baf8;
}

.task_title.done {
	color: #53A567FF;
}

.task_toggle:hover .task_title.done {
	color: #53C567FF;
}

.task_items {
	padding-left: 18px;
	padding-bottom: 18px;
	background-color: #DA291CFF;
	overflow: hidden;
	display: none;
	height:0;
	transition: all 0.3s;
}

.task_items.current {
	background-color: #56A8CBFF;
}

.task_items.done {
	background-color: #53A567FF;
}

.task_items.in {
	display: block;
	height: 100%;
	transition: all 0.3s;
}

.chevron {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	position: relative;
	transform: rotate(135deg);
	width: 0.45em;
	right: 3em;
	bottom:0.2em;
	float:right;
	color: #DA291CFF;
}

.chevron.in {
	transform: rotate(315deg);
}

.chevron.current {
	color: #56A8CBFF;
}

.chevron.done {
	color: #53A567FF;
}


.icon {
	width: 50%;
	display:inline-block;

}